@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Proxima Nova Th';
    src:
      url('./assets/fonts/ProximaNova-Extrabld.woff2') format('woff2'),
      url('./assets/fonts/ProximaNova-Extrabld.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Proxima Nova Rg';
    src:
      url('./assets/fonts/ProximaNova-Bold.woff2') format('woff2'),
      url('./assets/fonts/ProximaNova-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Proxima Nova Rg';
    src:
      url('./assets/fonts/ProximaNova-Regular.woff2') format('woff2'),
      url('./assets/fonts/ProximaNova-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Proxima Nova Th';
    src:
      url('./assets/fonts/ProximaNovaT-Thin.woff2') format('woff2'),
      url('./assets/fonts/ProximaNovaT-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Proxima Nova Lt';
    src:
      url('./assets/fonts/ProximaNova-Semibold.woff2') format('woff2'),
      url('./assets/fonts/ProximaNova-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: 'Proxima Nova Rg', 'Roboto';
  }

  ::-webkit-scrollbar {
    width: 4px;
    scrollbar-width: 5px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-primary-blue;
    border-radius: 4px;
  }
}

@layer components {
  .container {
    @apply px-4 mx-auto sm:px-6 lg:px-8;
  }
  @screen sm {
    .container {
      max-width: 640px;
    }
  }
  @screen md {
    .container {
      max-width: 768px;
    }
  }
  @screen lg {
    .container {
      max-width: 1024px;
    }
  }
  @screen xl {
    .container {
      max-width: 1280px;
    }
  }
  @screen 2xl {
    .container {
      max-width: 1536px;
    }
  }
}
